@use "./_variables.scss" as *;

.loading {

  .img_wrapper {
    position: relative;
    width: fit-content;
    margin: auto;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(90deg, $dark, $medium, $dark);
      opacity: 0.4;
      background-position: 0 0;
      background-clip: content-box;
      animation: move 1s infinite linear;
    }
  }
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 250px 0;
  }
}