@use "./_variables.scss" as *;

.pagination {
  width: 35px;
  aspect-ratio: 1 / 1;
  border-bottom: 1px solid $light;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  transition: 0.1s;

  &.active {
    color: $accent;
    border-color: $accent;
    box-shadow: inset 0 -2px 0 0 $accent;
  }

  &:hover {
    color: $accent;
    border-color: $accent;
    box-shadow: inset 0 -2px 0 0 $accent;
  }
}