@use "./_variables.scss" as *;

.single_result {

  & > img {
    box-shadow: -4px 4px 8px 0 $medium;
  }

  .infos {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 0.5rem);
    max-width: 342px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    display: none;

    button {
      border: none;
      margin: 8px 8px 0;
      width: 40%;
      border-radius: 8px;
      background-color: $light;
      color: $dark;
      font-weight: 500;
      cursor: pointer;
      opacity: 0.8;
      transition: 0.15s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover > img {
    opacity: 0.1;
  }

  &:hover .infos {
    display: block;
  }
}